.education-history-card {
    display: flex;
    flex-direction: column;
    min-width: 800px;
    margin-top: 20px;
}

.education-school {
    font-size: 30px;
    font-style: bold;
}

.education-history-subheader {
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.education-studyArea {
    font-size: 15px;
    margin: 0px;
}